/* Component.html.twig stylesheet */
/*:::::::::::::::::::::::::: Global ::::::::*/
#component li {
    list-style: none;
}

#main_component{
    border-left: 1px solid grey;
}

#main_component h1{
    text-align: center;
    margin-bottom: 35px;
}
/*:::::::::::::::::::::::::: Db list :::::::*/
#component .sidebar h2{
    text-align: center;
    margin-bottom: 30px;
}

.tableList{
    padding: 1px 8px;
    font-size: 14px;
}
/*:::::::::::::::::::::::::: Form ::::::::::*/

/*:::::::::::::::::::::::::: Charts choise :*/
.charts_choise{
    text-align: center;
    margin-top: 10px;
}

.charts_choise li{
    display: inline-block;
    margin: 0 10px;
}

.charts_choise i{
    font-size: 40px;
}

.compIcon{
    background-color: transparent !important;
    border: none !important;
}
/*:::::::::::::::::::::::::: Chart view ::::*/
.highcharts-button{
    display: none;
}
/*:::::::::::::::::::::::::: Button ::::::::*/
.button{
    margin-bottom: 20px;
}
.button div{
    overflow: auto;
}

.button div div{
    float: right;
}
.contenu1{
    height: 100% !important;
}