/*********************** SideBar & NavBar ***********************/
#sidebar{/*SideBar position*/
    position: fixed;
    top:50px;
    left:0px;
    height:100vh;
    height: calc(100vh - 50px);
    z-index: 99999;
}

.createdashboard{ /*button create dashboard position*/
    position: absolute;
    top:95%;
    left: 0px;
}

.popup{
    z-index: 9999;
}

.contenu{ /*Work space*/
    float: right;
    border-left: solid 1px grey;
    height: 100vh;
}
