{% extends "::layout.html.twig" %}

{% block title %} {{ parent() }}{% endblock %}

{% block body %}

    <!-- Include NavBar & SideBar-->
    {% block nav %}
        {% include "::navbar.html.twig"%}
    {% endblock %}
    
    <div class="col-xs-10 contenu contenudash">
        {% block app_body %}
            
        {% endblock %}
    </div>

{% endblock %}