<!-- Menu Nav-->
<nav class="navbar-inverse">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <ul class="nav navbar-nav">
            <li class=""><a class="navbar-brand" href="#">Studeal <span class="sr-only"></span></a></li>
        </ul>

    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class=""><a href="#">Dashboard <span class="sr-only"></span></a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a></li>
            <li><a href="#"><span class="glyphicon glyphicon-off" aria-hidden="true"></span></a></li>
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>

<!-- SideBar  -->

<div id="sidebar" class="navbar-toggler-left col-xs-2 navbar-default">

    <div class="list-group">
        <!-- Large modal -->
        <button type="button" class="btn btn-default btn-block createdashboard " data-toggle="modal" data-target=".bs-example-modal-lg">Create Dashboard</button>
        <!-- PopUp - Modal Create Dashboard Button -->
        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header"><h1 class="text­center ">Create Dashboard</h1></div>
                <div class="modal-header">
                    <form>
                            <div>
                                <label for="dashboardname">Dashboard name : </label>
                                <input type="text" class="form-control" id="dashboardname">
                            </div>
                        </form>
                </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-default" >Add Dashboard</button>
                    </div>
                </div>

            </div>
            </div>
        </div>
    </div>
</div>

<div class="col-xs-10 contenu "> <!-- Work space -->
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores at dolore eius fugit illo libero
    optio perferendis placeat. Assumenda beatae corporis culpa dolore eaque laborum minima nulla quis vitae
    voluptatibus? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, asperiores at aut consequatur,
    earum, et exercitationem libero maxime minima
    natus non nulla provident quaerat quam recusandae sunt tempore voluptatibus voluptatum.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores at dolore eius fugit illo libero
    optio perferendis placeat. Assumenda beatae corporis culpa dolore eaque laborum minima nulla quis vitae
    voluptatibus? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, asperiores at aut consequatur,
    earum, et exercitationem libero maxime minima
    natus non nulla provident quaerat quam recusandae sunt tempore voluptatibus voluptatum.

</div>




