{% extends "AppBundle::layout.html.twig" %}

{% block title %}Admin Profile {% endblock %}

{% block app_body %}
        <body>
            {# START Logged-in User Info #}
            <div id="userInfo" class="container-fluid">
                <div class="row">
                    <div class="col-md-2 col-xs-4">
                        <img src="{{ asset('assets/img/user_img.png') }}" width="100px" height="100px" alt="Profile image">
                    </div>

                    <div class="col-md-2 col-xs-2">
                        <div class="row">
                            <p>First Name</p>
                        </div>
                        <div class="row">
                            <p>Last Name</p>
                        </div>
                        <div class="row">
                            <p>Email</p>
                        </div>
                    </div>

                    <div class="col-md-4 col-xs-2"></div>
                    <div class="col-md-4 col-xs-0"></div>
                </div>
            </div>
            <br>
            {# END Logged-in User Info #}

            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">

                        {# START Tab Pane List #}
                        <div id="tabbed-pane">
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#usersAll">All Users</a></li>
                                <li><a data-toggle="tab" href="#dashsAll">All Dashboards</a></li>
                                <li><a data-toggle="tab" href="#mySettings">My Settings</a></li>
                            </ul>
                        </div>
                        {# END Tab Pane List #}

                        <div class="tab-content">
                            <div id="usersAll" class="tab-pane fade in active">
                                <div class="table-responsive">
                                    <h3>All Users <button type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#addUser">Add new</button></h3>

                                    {# START Add New User Modal #}
                                    <!-- Modal -->
                                    <div class="modal fade" id="addUser" role="dialog">
                                        <div class="modal-dialog">

                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    <h4 class="modal-title">Add a new user</h4>
                                                </div>

                                                {# START New User Form #}
                                                <div class="modal-body">
                                                    <form>
                                                        <div class="form-group">
                                                            <label for="newFirstName">First Name</label>
                                                            <input type="text" class="form-control" id="newFirstName" placeholder="Michael">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="newLastName">Last Name</label>
                                                            <input type="text" class="form-control" id="newLastName" placeholder="Jackson">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="newEmail1">Email address</label>
                                                            <input type="email" class="form-control" id="newEmail1" placeholder="Email">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="newPassword">Password</label>
                                                            <input type="password" class="form-control" id="newPassword" placeholder="Password">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="newFile">Profile Photo</label>
                                                            <input type="file" id="newFile">
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="submit" class="btn btn-default">Submit</button>
                                                </div>
                                                {# END New User Form #}
                                            </div>

                                        </div>
                                    </div>
                                    {# END Add New User Modal #}

                                    {# START User Table Data #}
                                    <table id="userTable" class="table table-striped">
                                        <tr>
                                            <th>User</th>
                                            <th></th>
                                            <th></th>
                                        </tr>

                                        <tr>
                                            <td>User 1</td>
                                            <td><a data-toggle="modal" data-target="#editUser">Edit</a></td>
                                            <td><a data-toggle="modal" data-target="#deleteUser">Delete</a></td>
                                        </tr>

                                        <tr>
                                            <td>User 2</td>
                                            <td><a data-toggle="modal" data-target="#editUser">Edit</a></td>
                                            <td><a data-toggle="modal" data-target="#deleteUser">Delete</a></td>
                                        </tr>
                                    </table>
                                    {# END User Table Data #}

                                    {# START Edit User Modal #}
                                    <!-- Modal -->
                                    <div class="modal fade" id="editUser" role="dialog">
                                        <div class="modal-dialog">

                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    <h4 class="modal-title">Edit user</h4>
                                                </div>

                                                {# START Edit User Form #}
                                                <div class="modal-body">
                                                    <form>
                                                        <div class="form-group">
                                                            <label for="newFirstName">First Name</label>
                                                            <input type="text" class="form-control" id="newFirstName" placeholder="Michael">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="newLastName">Last Name</label>
                                                            <input type="text" class="form-control" id="newLastName" placeholder="Jackson">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="newEmail1">Email address</label>
                                                            <input type="email" class="form-control" id="newEmail1" placeholder="Email">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="newPassword">Password</label>
                                                            <input type="password" class="form-control" id="newPassword" placeholder="Password">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="newFile">Profile Photo</label>
                                                            <input type="file" id="newFile">

                                                            <br>
                                                            <label for="activate deactivate">User Status</label>
                                                            <br>
                                                            <label class="radio-inline">
                                                                <input type="radio" name="inlineRadioOptions" id="activate" value="option1"> Activated
                                                            </label>
                                                            <label class="radio-inline">
                                                                <input type="radio" name="inlineRadioOptions" id="deactivate" value="option2"> Deactivated
                                                            </label>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="submit" class="btn btn-default">Submit</button>
                                                </div>
                                                {# END Edit User Form #}
                                            </div>

                                        </div>
                                    </div>
                                    {# END Edit User Modal #}

                                    {# START Delete User Modal #}
                                    <div class="container">
                                        <div class="modal fade" id="deleteUser" role="dialog">
                                            <div class="modal-dialog modal-sm">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                        <h4 class="modal-title">Delete User</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p class="text-danger">Are you sure you want to delete this user?</p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="submit" class="btn btn-default">Submit</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {# END Delete User Modal #}

                                </div>
                                <div class="col-md-4 col-xs-0"></div>
                                <div class="col-md-4 col-xs-12" align="center">

                                    {# START User Pagination #}
                                    <nav class="navbar" aria-label="Page navigation">
                                        <div class="container-fluid">
                                            <ul class="pagination paginProf">
                                                <li>
                                                    <a href="#" aria-label="Previous">
                                                        <span aria-hidden="true">&laquo;</span>
                                                    </a>
                                                </li>
                                                <li><a href="#">1</a></li>
                                                <li><a href="#">2</a></li>
                                                <li><a href="#">3</a></li>
                                                <li><a href="#">4</a></li>
                                                <li><a href="#">5</a></li>
                                                <li>
                                                    <a href="#" aria-label="Next">
                                                        <span aria-hidden="true">&raquo;</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </nav>
                                    {# END User Pagination #}

                                </div>
                                <div class="col-md-4 col-xs-0"></div>
                            </div>
                            <div id="dashsAll" class="tab-pane fade">
                                <div class="table-responsive">
                                    <h3>All Dashboards</h3>

                                    {# START Dashboard Table Data #}
                                    <table class="table table-striped">
                                        <tr>
                                            <th>Dashboard Name</th>
                                            <th>Creator</th>
                                            <th></th>
                                        </tr>

                                        <tr>
                                            <td>Dashboard 1</td>
                                            <td>Cool User 1</td>
                                            <td><a data-toggle="modal" data-target="#delDash">Delete</a></td>
                                        </tr>

                                        <tr>
                                            <td>Dashboard 2</td>
                                            <td>Cool User 2</td>
                                            <td><a data-toggle="modal" data-target="#delDash">Delete</a></td>
                                        </tr>
                                    </table>
                                    {# END Dashboard Table Data #}

                                    {# START Delete Dashboard Modal #}
                                    <div class="container">
                                        <div class="modal fade" id="delDash" role="dialog">
                                            <div class="modal-dialog modal-sm">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                        <h4 class="modal-title">Delete Dashboard</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p class="text-danger">Are you sure you want to delete this Dashboard?</p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="submit" class="btn btn-default">Submit</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {# END Delete Dashboard Modal #}

                                </div>
                                <div class="col-md-4 col-xs-0"></div>
                                <div class="col-md-4 col-xs-12" align="center">
                                    <nav class="navbar" aria-label="Page navigation">
                                        <div class="container-fluid">

                                            {# START Dashboard Pagination #}
                                            <ul class="pagination paginProf">
                                                <li>
                                                    <a href="#" aria-label="Previous">
                                                        <span aria-hidden="true">&laquo;</span>
                                                    </a>
                                                </li>
                                                <li><a href="#">1</a></li>
                                                <li><a href="#">2</a></li>
                                                <li><a href="#">3</a></li>
                                                <li><a href="#">4</a></li>
                                                <li><a href="#">5</a></li>
                                                <li>
                                                    <a href="#" aria-label="Next">
                                                        <span aria-hidden="true">&raquo;</span>
                                                    </a>
                                                </li>
                                            </ul>
                                            {# END Dashboard Pagination #}

                                        </div>
                                    </nav>
                                </div>
                                <div class="col-md-4 col-xs-0"></div>
                            </div>
                            <div id="mySettings" class="tab-pane fade">
                                <div class="table-responsive">

                                    {# START User Settings #}
                                    <form id="mySettingsForm">
                                        <h3>My Settings</h3>
                                        <br>
                                        <div class="form-group">
                                            <label for="newFirstName">First Name</label>
                                            <input type="text" class="form-control" id="newFirstName" placeholder="Michael">
                                        </div>
                                        <div class="form-group">
                                            <label for="newLastName">Last Name</label>
                                            <input type="text" class="form-control" id="newLastName" placeholder="Jackson">
                                        </div>
                                        <div class="form-group">
                                            <label for="newEmail1">Email address</label>
                                            <input type="email" class="form-control" id="newEmail1" placeholder="Email">
                                        </div>
                                        <div class="form-group">
                                            <label for="newPassword">Password</label>
                                            <input type="password" class="form-control" id="newPassword" placeholder="Password">
                                        </div>
                                        <div class="form-group">
                                            <label for="newFile">Profile Photo</label>
                                            <input type="file" id="newFile">
                                        </div>
                                        <button type="submit" class="btn btn-default pull-right">Submit</button>
                                    </form>
                                    {# END User Settings #}

                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </body>
    </html>
{% endblock %}