{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    Component - {{ parent() }}
{% endblock %}

{% block app_body %}
<div class="col-md-10">
    <div class="col-md-2 sidebar">
        <h3>My database</h3>
        
        <ul>
            <li>Table 1</li>
            <ul>
                <li>Field 1</li>
                <li>Field 2</li>
                <li>Field 3</li>
            </ul>
            <li>Table 2</li>
            <ul>
                <li>Field 1</li>
                <li>Field 2</li>
                <li>Field 3</li>
            </ul>
            <li>Table 3</li>
            <ul>
                <li>Field 1</li>
                <li>Field 2</li>
                <li>Field 3</li>
            </ul>
        </ul>
    </div>
</div>
{% endblock %}