{% extends "AppBundle::layout.html.twig" %}

{% block title %}Main Page{% endblock %}

{% block app_body %}

    <div class="panel panel-default panelStyle">
        <div class="panel-heading"><strong>About Us:</strong></div>
        <div class="panel-body">
            <p>
            <blockquote>
                Studeal est aujourd'hui une startup en pleine croissance avec de plus en plus d'associations étudiantes, d'étudiants et de clients entreprises.
                Avec plus de 400 associations étudiantes, 100 000 étudiants représentés et des clients comme Axa ou Kaporal, Studeal permet aujourd'hui de
                mettre en relation ces 3 entités grâce à différents outils.
                L'équipe Studeal est composée de 5 personnes, David (Co-fondateur & CEO), Simon (CMO), Mathieu (Relation partenariats associations
                étudiantes), Eric (Développeur) et Quentin (Co-fondateur & CTO).
            </blockquote>
            </p>
        </div>
    </div>

    <div class="panel panel-default panelStyle">
        <div class="panel-heading"><strong>Get Started:</strong></div>
        <div class="panel-body">
            <p>
                <blockquote>To begin, please start by creating your dashboard.</blockquote>
                <div class="blockquote2">From your dashboard, you will be able to create a component containing your data displayed in a beautiful graph!</div>
            </p>
        </div>
    </div>

{% endblock %}