<!-- Menu Nav-->
<nav class="navbar-inverse">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <ul class="nav navbar-nav">
            <li><a class="navbar-brand">Studeal <span class="sr-only"></span></a></li>
        </ul>

    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li><a href="{{ path('app_home')}}">Dashboard <span class="sr-only"></span></a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>{% if is_granted('ROLE_ADMIN')  %}
                    <a href="{{ path('app_admin_profile') }}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a>
                {% elseif is_granted('ROLE_USER') %}
                    <a href="{{ path('app_user_profile') }}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a>
                {% endif %}
            </li>
            <li><a href="{{  path('fos_user_security_logout') }}"><span class="glyphicon glyphicon-off" aria-hidden="true"></span></a></li>
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>

<!-- Component sidebar display -->
{% include 'AppBundle:App:sidebar.html.twig' %}



