{% extends "AppBundle::layout.html.twig" %}

{% block title %}Profile Admin{% endblock %}

{% block app_body %}
    <body>
    {# START Logged-in User Info #}
    <div id="userInfo" class="container-fluid">
        <div class="row">
            <div class="col-md-2 col-xs-4">
                <img src="{{ asset('assets/img/user_img.png') }}" width="100px" height="100px" alt="Profile image">
            </div>

            <div class="col-md-2 col-xs-2">
                <div class="row">
                    <p>First Name</p>
                </div>
                <div class="row">
                    <p>Last Name</p>
                </div>
                <div class="row">
                    <p>Email</p>
                </div>
            </div>

            <div class="col-md-4 col-xs-2"></div>
            <div class="col-md-4 col-xs-0"></div>
        </div>
    </div>
    <br>
    {# END Logged-in User Info #}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                {# START Tab Pane List #}
                <div id="tabbed-pane">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#mySettings">My Settings</a></li>
                    </ul>
                </div>
                {# END Tab Pane List #}

                {# START User Settings #}
                    <div id="mySettings" class="tab-pane fade in active">
                        <div class="table-responsive">
                            <form id="mySettingsForm">
                                <h3>My Settings</h3>
                                <br>
                                <div class="form-group">
                                    <label for="newFirstName">First Name</label>
                                    <input type="text" class="form-control" id="newFirstName" placeholder="Michael">
                                </div>
                                <div class="form-group">
                                    <label for="newLastName">Last Name</label>
                                    <input type="text" class="form-control" id="newLastName" placeholder="Jackson">
                                </div>
                                <div class="form-group">
                                    <label for="newEmail1">Email address</label>
                                    <input type="email" class="form-control" id="newEmail1" placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <label for="newPassword">Password</label>
                                    <input type="password" class="form-control" id="newPassword" placeholder="Password">
                                </div>
                                <div class="form-group">
                                    <label for="newFile">Profile Photo</label>
                                    <input type="file" id="newFile">
                                </div>
                                <button type="submit" class="btn btn-default pull-right">Submit</button>
                            </form>
                        </div>
                    </div>
                    <br>
                    {# END User Settings #}

                </div>
                <br>
            </div>
        </div>
    </div>
    </body>
    </html>
{% endblock %}